strong 
    span &copy;
        = ` ${h.yearForFooter()} `
    a(href="https://nicolaferracin.com" target="_blank") Nicola Ferracin 
div
    a.btn.btn-flat.bg-teal-active(href="https://www.paypal.me/ferracinnicola/2" target="_blank")
        i.fa.fa-coffee 
        | &nbsp;Buy me a coffee