strong 
    span &copy;
        = ` ${h.yearForFooter()} `
    a(href="https://nicolaferracin.com" target="_blank") Nicola Ferracin 
    <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Buy Me a Coffee', '#46b798', 'A27523IP');kofiwidget2.draw();</script> 