header.main-header
    if user
        a.logo(href="/app/dashboard") 
            span.logo-mini 
                strong B
            span.logo-lg 
                strong B
                | udgetify
    nav.navbar.navbar-static-top(class=user ? '' : 'no-user')
        if user
            a.sidebar-toggle(href="/app/dashboard" data-toggle="push-menu" role="button")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        else 
            a.logo.logo-light.logo-full(href="/app/login") 
                span 
                    strong B
                    | udgetify
        div.navbar-custom-menu
            ul.nav.navbar-nav
                if user
                    if !user.google.email && !user.facebook.email
                        li
                            a(href="/app/account") Account
                    li
                        a(href="/app/logout") Logout
                else
                    li
                        a(href="/app/register") Register
                    li
                        a(href="/app/login") Login