header.main-header
    a.logo(href="#") 
        span.logo-mini 
            strong B
        span.logo-lg 
            strong B
            | udgetify
    nav.navbar.navbar-static-top
        a.sidebar-toggle(href="#" data-toggle="push-menu" role="button")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.navbar-custom-menu
            ul.nav.navbar-nav
                if user
                    li
                        a(href="#" data-toggle="control-sidebar")
                            i.fa.fa-gears
                    li
                        a(href="/logout") Logout
                else
                    li
                        a(href="/register") Register
                    li
                        a(href="/login") Login