header.main-header
    if user
        a.logo(href="/dashboard") 
            span.logo-mini 
                strong B
            span.logo-lg 
                strong B
                | udgetify
    nav.navbar.navbar-static-top(class=user ? '' : 'no-user')
        if user
            a.sidebar-toggle(href="/dashboard" data-toggle="push-menu" role="button")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        else 
            a.logo.logo-light.logo-full(href="#") 
                span 
                    strong B
                    | udgetify
        div.navbar-custom-menu
            ul.nav.navbar-nav
                if user
                    li
                        a(href="/account") Account
                    li
                        a(href="/logout") Logout
                else
                    li
                        a(href="/register") Register
                    li
                        a(href="/login") Login