aside.main-sidebar
    section.sidebar
        div.user-panel
            div.pull-left.image
                //- img(src="")
        //- ul.sidebar-menu(data-widget="tree")
        ul.sidebar-menu
            li.header MAIN NAVIGATION
            li
                a(href="/wallet")
                    i.fa.fa-money 
                    span Add Wallet
                    span.pull-right-container
                        i.pull-right.fa.fa-plus-square