extends email-layout

block content
  h1 
    strong B
    | udgetify
  h2 Account Activation
  p Hello and welcome to Budgetify!
  p To activate your account, please click on the button here below.
  +button(activateUrl, 'Activate my account →')
  p If you can't click the above button please visit #{activateUrl}
  br
  p If you didn't create an account on Budgetify.me, please ignore this email.
