extends layout

include mixins/_wallet

block content
    section.content-header 
        h1 Dashboard

    section.content
        .col-xs-6.col-xs-offset-3
            if wallets && wallets.length
                each wallet in wallets
                    +wallet(wallet)
                a.btn.btn-primary.btn-flat(href="/wallet") Add Wallet
            else
                .text-center
                    h2 You don't have any wallet. Create one!
                    a.btn.btn-primary.btn-flat(href="/wallet") Add Wallet