extends layout

include mixins/_budgetForm

block content  
    section.content-header
        h1= title
    section.content
        .row
            .col-md-6.col-md-offset-3
                +budgetForm(budget)