extends layout

include mixins/_walletForm

block content  
    section.content-header
        asda
        h1= title
    section.content
        .row
            .col-md-6.col-md-offset-3
                +walletForm(wallet)