doctype html
html
  head
    title= h.siteName.text
    include meta
    include styles
  block body
    .menu
        a(href="/") Back
    .budgetify-landing
        .budgetify-header
            .container
                h1 
                    strong B
                    span udgetify
                p Hello and welcome to Budgetify!
                hr
                p My name is Nicola Ferracin, I'm a frontend JavaScript developer based in Berlin.
                p Budgetify is a side project I developed in June-July 2017 afer a personal need.
                p If you used or plan to use Budgetify, I'd be happy to hear your feedback. You can find my contacts here below.
                .budgetify-contacts
                    a(href="https://github.com/NicolaFerracin" target="_blank" title="Nicola Ferracin GitHub Profile")
                        i.fa.fa-github
                    a(href="https://nicolaferracin.com" target="_blank" title="Nicola Ferracin Website")
                        i.fa.fa-link
                    a(href="mailto:info@bugetify.me" target="_blank" title="info@bugetify.me")
                        i.fa.fa-envelope-o
