include mixins/_flashes

doctype html
html
  head
    title= `${title || ''} | ${h.siteName.text}`
    //- link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    include meta
    include styles
  block body
    body.hold-transition.skin-green.sidebar-mini
      .wrapper
      
        block header
          include includes/header

        block main-sidebar
          include includes/sidebar

        .content-wrapper
          block messages
            +flashes(locals.flashes)
          
          block content
          
        footer.main-footer            
          block footer
            include includes/footer
      
        block control-sidebar
          include includes/control-sidebar

        block control-sidebar-bg
          .control-sidebar-bg

      include scripts