extends layout

block content
    .login-box
        .login-box-body
            p.login-box-msg Login
            form(method="POST")
                .form-group.has-feedback
                    input.form-control(type="email" name="email" placeholder="Email")
                    span.glyphicon.glyphicon-envelope.form-control-feedback
                .form-group.has-feedback
                    input.form-control(type="password" name="password" placeholder="Password")
                    span.glyphicon.glyphicon-lock.form-control-feedback
                .row
                    .col-xs-4.col-xs-offset-8
                        button.btn.btn-primary.btn-block.btn-flat(type="submit") Login
            
            hr

            a.text-center(href="/recover") Recover account