extends layout

block content
    .login-box
        .login-box-body
            p.login-box-msg Login
            form(method="POST")
                .form-group.has-feedback
                    input.form-control(type="email" name="email" placeholder="Email")
                    span.glyphicon.glyphicon-envelope.form-control-feedback
                .form-group.has-feedback
                    input.form-control(type="password" name="password" placeholder="Password")
                    span.glyphicon.glyphicon-lock.form-control-feedback
                .row
                    .col-xs-4.col-xs-offset-8
                        button.btn.btn-primary.btn-block.btn-flat(type="submit") Login
            .social-auth-links.text-center
                p - OR -
                a.btn.btn-block.btn-social.btn-facebook.btn-flat(href="/auth/facebook")
                    i.fa.fa-facebook 
                    | Sign in with Facebook

                a.btn.btn-block.btn-social.btn-google.btn-flat(href="/auth/google")
                    i.fa.fa-google 
                    | Sign in with Google
            a.text-center(href="/recover") Recover account