extends layout

block content
    .login-box
        .login-box-body
            p.login-box-msg Account Recovery
            form(method="POST")
                .form-group.has-feedback
                    input.form-control(type="email" name="email" placeholder="Email")
                    span.glyphicon.glyphicon-envelope.form-control-feedback
                .row
                    .col-xs-5.col-xs-offset-7
                        button.btn.btn-primary.btn-block.btn-flat(type="submit") Recover
                        