extends layout

block content
    .login-box
        .login-logo
            a(href="#")
                != h.siteName.html
        .login-box-body
            p.login-box-msg Account Recovery
            form(method="POST")
                .form-group.has-feedback
                    input.form-control(type="password" name="password" placeholder="New Password")
                    span.glyphicon.glyphicon-lock.form-control-feedback
                .form-group.has-feedback
                    input.form-control(type="password" name="password-confirm" placeholder="Confirm new password")
                    span.glyphicon.glyphicon-log-in.form-control-feedback
                .row
                    .col-xs-4.col-xs-offset-8
                        button.btn.btn-primary.btn-block.btn-flat(type="submit") Reset
                        