mixin flashes()
    if locals.flashes
        .inner.row.flashes
            .col-xs-10.col-xs-offset-1
                - const categories = Object.keys(locals.flashes)
                each category in categories
                    each message in flashes[category]
                        .alert.alert-dismissible(class=`alert-${category}`)
                            button.close(type="button" data-dismiss="alert" aria-hidden="true" onclick="this.parentElement.remove()") &times;
                            - const icon = h.getIconForFlash(category)
                            h4.capitalize
                                i.icon.fa(class=`fa-${icon}`)
                                | #{category}
                            p!= message