mixin wallet(wallet)
    if wallet
        a.wallet(href=`/wallet/${wallet._id}`)
            div.info-box.bg-green
                .info-box-icon
                    i.ion.ion-ios-pricetag-outline
                .info-box-content
                    span.info-box-text #{wallet.name}
                    span.info-box-description #{wallet.description ? ' - ' + wallet.description : ''}
                    span.info-box-number