mixin wallet(wallet)
    if wallet
        a.wallet(href=`/wallet/${wallet._id}`)
            .info-box.bg-green
                span.info-box-icon
                    i.ion.ion-ios-pricetag-outline
                .info-box-content
                    a.btn.btn-default.btn-xs.pull-right(type="button" href=`/wallet/${wallet.id}/edit`) Edit
                    span.info-box-text #{wallet.name}
                    span.info-box-description #{wallet.description ? ' - ' + wallet.description : ''}
                    span.info-box-number