.box-budget-month {
    th, td {
        text-align: center;
    }
    .month-action {
        &-icons {
            display: flex;
            justify-content: space-around;
            i {
                cursor: pointer;
                margin: 10px;
                font-size: 2em;
                
            }
        }
    }
}