.calendar {
    ul {
        padding: 0;
    }
    &-year {
        font-weight: bold;
        list-style: none;
        margin-bottom: 20px;
        font-size: 20px;   
        a {
            color: inherit;
        }
    }
    
    &-month {
        list-style: none;  
        font-weight: initial;  
        font-size: initial;    
        a {
            color: inherit;
        }
    }
}