.categories-list {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    span.fa.fa-remove {
        color: $red;
        &:hover {
            cursor: pointer;
        }
    }
}