.info-box-description {
    text-transform: initial;
}

.wallet {
    color: initial;
    &:hover, &:active, &:focus {
        color: initial;
    }
    .wallet-content {
        @media (max-width: 767px) {
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .wallet-name {
            display: inline-block;
        }
        .wallet-total {
            float: right;
            &.income {
                color: $green;
            }
            &.outcome {
                color: $red;
            }
        }
    }
}

.box {
    .budget {
        color: inherit;
        text-decoration: none;
    }
    .budget-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}