.logo-light {
    background-color: $green !important;
}


.logo.logo-light.logo-full {
    width: 230px !important;
}

@media (max-width: 767px) {
    .logo.logo-light.logo-full {
        width: 100% !important;
        float: none;
    }
}

.content-header {
    .header-right {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}