.logo-light {
    background-color: $green !important;
}

.logo-full {
    width: 230px !important;
}

.content-header {
    .header-right {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}