.menu {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    a {
        color: white;
    }
    a:hover, a:focus {
        color: #00a65a;
    }
}

body { 
    height: 100%;
    background: url('/img/bg.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(0,20,0,0.6);
    background-blend-mode: darken;
}

.budgetify-landing {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 100%;
    .budgetify-header {
        text-align: center;
        color: white;
        h1 {
            margin-bottom: 50px;
        }
        p {
            font-size: 1.5em;
        }
        .header-action {
            a {
                margin: 20px 10px;
            }
        }
        .header-section {
            div i {
                font-size: 15em;
            }
        }
    }
}

.budgetify-contacts {
    a {
        color: inherit;
        i {
            font-size: 5em;
            margin: 50px 50px;
        }
    }
    a:hover, a:focus {
        color: #00a65a;
    }
}
