.box-transactions-day {
    .box-body {
        cursor: pointer;
    }
    .t-amount {
        font-size: 24px;
        &.t-income {
            color: $green;
        }
        &.t-outcome {
            color: $red;
        }
    }
}