.capitalize {
    text-transform:capitalize;
}

.label-has-action {
    display: blocK;
    button {
        float: right;
    }
}

i {
    &.save {
        color: #00a65a;
    }
    &.cancel {
        color: #f56954;
    }
}