.info-box-description {
    text-transform: initial;
}

.wallet {
    color: initial;
    &:hover, &:active, &:focus {
        color: initial;
    }
    .wallet-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .wallet-name {
            display: inline-block;
        }
        .wallet-total {
            float: right;
            &.income {
                color: $green;
            }
            &.outcome {
                color: $red;
            }
        }
    }
}